/* - Font-sizes (px):
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
- SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 */

@import url("https://fonts.googleapis.com/css2?family=Sora:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800;900&family=Sora:wght@300;400;700&display=swap");

:root {
  --primary-color: #edf6f9;
  --secondary-color: #ffddd2;
  --tertiary-color: #83c5be;
  --btn-color: #006d77;
  --btn-color-shadow: hsla(185, 100%, 23%, 0.5);
  --accent-color: #e29578;
  --logo-background: rgba(0, 0, 0, 0.3);
  /* --logo-color: ; */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Sora", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1;
  color: #333;
}

.container__outer {
  height: 100vh;
  width: 100vw;
  background-color: var(--primary-color);
  display: flex;
}

.container__image {
  display: flex;
  position: relative;
  background-image: url("img/img-1.jpg");
  background-position: center;
  background-size: cover;
  width: 35vw;
}

.logo-background {
  position: absolute;
  top: 30%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;

  background-color: var(--logo-background);
  height: 9.6rem;
}

.logo-image {
  height: 100%;
  /* color: black; */
}

.logo {
  color: var(--primary-color);
  text-align: center;
  font-size: 7.4rem;
  font-family: "Montserrat", sans-serif;
}

.container__content {
  width: 65vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.description {
  line-height: 1.2;
  background-color: var(--secondary-color);
  padding: 2.4rem;
  width: 100%;
  padding-bottom: 3.6rem;
}

.form {
  background-color: var(--tertiary-color);
  padding: 2.4rem;
  padding-top: 3.6rem;
  width: 100%;
}

.form__title {
  margin-bottom: 3.6rem;
}

.form__contents {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 60%;
  column-gap: 9.6rem;
  row-gap: 2.4rem;
  margin-bottom: 3.6rem;
}

input {
  appearance: none;
  width: 100%;
  height: 3.2rem;
  border-radius: 9px;
  border: 2.5px solid var(--btn-color);
  padding: 0.8rem;
}

input:focus {
  outline: none;
  border: 3px solid var(--btn-color);
  box-shadow: 0 0 0 0.2rem var(--btn-color-shadow);
}

label {
  font-size: 1.4rem;
  width: 100%;
}

.form__button {
  margin-top: 3.6rem;
}

.btn {
  margin-bottom: 3.6rem;
  border: none;
  padding: 1.2rem 2.4rem;
  background-color: var(--btn-color);
  border-radius: 9px;
  font-size: 2rem;
  font-weight: 700;
  color: var(--primary-color);
}

.log-in-text {
  font-size: 1.4rem;
}

.log-in {
  text-decoration: none;
  color: var(--btn-color);
}

/* - Font-sizes (px):
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
- SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 */ ;
